<% unless @flights == nil %>
  <ol>
    <% @flights.each do |flight| %>
      <li data-flightID="<%= flight.id %>">
      <% total_seats = flight.airplane.row * flight.airplane.column %>
      <% seats_available = total_seats - flight.reservations.count %>

      <%= flight.origin %>
      <%= flight.destination %>
      <%= flight.date.strftime('%e %B %Y') %>
      <%= seats_available %>

      <%= link_to("Book Flight", "/#flights/#{flight.id}") %>
      </li>
    <% end %>
  </ol>
<% end %>