<h3>Search Flights</h3>

<%= form_tag search_path do %>

  <%= label_tag :origin %>  
  <%= text_field_tag :origin, params[:origin], :required => true %>
  
  <%= label_tag :destination %>
  <%= text_field_tag :destination, params[:destination], :required => true %>

  <%= submit_tag 'Search flights' %>

<% end %>
