<p id="notice"><%= notice %></p>

<h1>The Plummet Fleet</h1>

<table>
  <thead>
    <tr>
      <th>Airplane Name</th>
      <th>Rows</th>
      <th>Row Width</th>
      <th colspan="3">Mess about with the Fleet</th>
    </tr>
  </thead>

  <tbody>
    <% @airplanes.each do |airplane| %>
      <tr>
        <td><%= airplane.name %></td>
        <td><%= airplane.row %></td>
        <td><%= airplane.column %></td>
        <td><%= link_to 'Show', airplane %></td>
        <td><%= link_to 'Edit', edit_airplane_path(airplane) %></td>
        <td><%= link_to 'Destroy', airplane, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add an Aircraft', new_airplane_path %>
